body {
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(180deg, #ff008c 0%, rgb(211, 9, 225) 100%); */
    background-color: #eafc86;
    overflow: hidden;
    padding: 0;
  }
  
  .picture-container div {
    /* background: #BB86FC; */
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxoB1dyx7YCLsqN9TB7jm-LMBAXERoujDe5Q&usqp=CAU);
    background-size: cover;
    border-radius: 30px;
    width: 250px;
    height: 350px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  h1{
    color: aliceblue;
    margin-left: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 0;
  }

  .contactList-container button {
    background: #03DAC6;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
  }

  .contactList {
    display: flex;
    justify-content: center;
    align-items: center;
  }